body {
    margin: 0px;
}

.exemplo {
    background-color: #000000;
    /* width: 100%; */
    /* width: auto;
    height: 100px; */
    width: 500px;
    height: 500px;

}

img {
    /* width: 100%; */
    /* width: auto; */
    /* width: 3cm; */
    /* width: 50%; */
    /* width: inherit;
    max-width: 450px; */
    min-width: 500px;
}