/* {} */
body {
    font-family: Courier;
}
.box {
    /* width: 30ex; */
    /* width: 50%; */
    /* height: 400px; */
    width: 300px;
    background-color: green;
}

.box-interno {
    /* width: 50%;
    height: 50%;
    background-color: red; */
    background-color: violet;
    color: white;
    width: 15ch;
}